@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap'); 

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Nunito, Arial, sans-serif;
  font-size: 16px;
  background-image: url('../public/assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

a, a:visited {
  text-decoration: none;
  color: #000;
}