*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', 'Arial', sans-serif;
  font-size: 16px; 
}

.wrapper {
  width: 320px;
  height: 150px;
  padding: 8px; 
}

.title {
  display: flex;
  justify-content: center;
  padding: 10px;
}

textarea {
  font-family: 'Nunito', 'Arial', sans-serif; 
  font-size: 16px;
  width: 300px;
  border: 1px solid #aebfbe;
  background-color: rgba(174, 191, 190, 0.27);
  resize: none;
  outline: none;
  padding: 5px;
}

.interact-area {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

button {
  outline: none;
  border: none; 
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: #aebfbe;
  color: #fff;
  font-family: 'Nunito', 'Arial', sans-serif; 
  font-size: 16px;
  margin-right: 5px;
}

.secondary-button {
  border: 2px solid #aebfbe;
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: #fff;
  color: #fff;
  font-family: 'Nunito', 'Arial', sans-serif; 
  font-size: 16px;
  display: flex; 
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #aebfbe;
}

p {
  text-align: center;
}

.flexColCenTItem {
  width: 300px;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

.flexRowCentItem {
  display: flex;
  align-items: center;
}

.spaceDown {
  margin-bottom: 10px;
}

.spaceUp {
  margin-top: 10px;
}

.hidden {
  display: none;
}

.mirror {
  display: inline-block;
  transform: scale(-1, 1);
}

#highlight {
  color: #E52823
}

.bigger {
  font-size: 22px;
}